/* ./src/index.css */

/* @tailwind base; */

#data-import .fixed {
  position: fixed
}

#data-import .absolute {
  position: absolute
}

#data-import .relative {
  position: relative
}

#data-import .inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px
}

#data-import .top-4 {
  top: 16px
}

#data-import .right-4 {
  right: 16px
}

#data-import .top-0 {
  top: 0px
}

#data-import .bottom-0 {
  bottom: 0px
}

#data-import .left-0 {
  left: 0px
}

#data-import .right-0 {
  right: 0px
}

#data-import .z-50 {
  z-index: 50
}

#data-import .z-40 {
  z-index: 40
}

#data-import .col-span-6 {
  grid-column: span 6 / span 6
}

#data-import .m-0 {
  margin: 0px
}

#data-import .m-auto {
  margin: auto
}

#data-import .m-2 {
  margin: 8px
}

#data-import .mx-auto {
  margin-left: auto;
  margin-right: auto
}

#data-import .mb-4 {
  margin-bottom: 16px
}

#data-import .mb-2 {
  margin-bottom: 8px
}

#data-import .block {
  display: block
}

#data-import .inline-block {
  display: inline-block
}

#data-import .flex {
  display: flex
}

#data-import .inline-flex {
  display: inline-flex
}

#data-import .grid {
  display: grid
}

#data-import .hidden {
  display: none
}

#data-import .h-8 {
  height: 32px
}

#data-import .h-12 {
  height: 48px
}

#data-import .h-7 {
  height: 28px
}

#data-import .h-0\.5 {
  height: 2px
}

#data-import .h-0 {
  height: 0px
}

#data-import .h-4 {
  height: 16px
}

#data-import .h-3 {
  height: 12px
}

#data-import .h-full {
  height: 100%
}

#data-import .w-auto {
  width: auto
}

#data-import .w-full {
  width: 100%
}

#data-import .w-8 {
  width: 32px
}

#data-import .w-12 {
  width: 48px
}

#data-import .w-7 {
  width: 28px
}

#data-import .w-36 {
  width: 9rem
}

#data-import .w-10 {
  width: 40px
}

#data-import .w-4 {
  width: 16px
}

#data-import .w-3 {
  width: 12px
}

#data-import .w-1\/3 {
  width: 33.333333%
}

#data-import .max-w-6xl {
  max-width: 72rem
}

#data-import .flex-auto {
  flex: 1 1 auto
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
  }
}

#data-import .animate-spin {
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite
}

#data-import .cursor-pointer {
  cursor: pointer
}

#data-import .cursor-not-allowed {
  cursor: not-allowed
}

#data-import .grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr))
}

#data-import .flex-col {
  flex-direction: column
}

#data-import .items-center {
  align-items: center
}

#data-import .justify-center {
  justify-content: center
}

#data-import .justify-between {
  justify-content: space-between
}

#data-import .gap-4 {
  gap: 16px
}

#data-import .gap-3 {
  gap: 12px
}

#data-import .overflow-hidden {
  overflow: hidden
}

#data-import .overflow-y-auto {
  overflow-y: auto
}

#data-import .rounded-lg {
  border-radius: 0.5rem
}

#data-import .rounded-full {
  border-radius: 9999px
}

#data-import .rounded-md {
  border-radius: 0.375rem
}

#data-import .rounded-2xl {
  border-radius: 1rem
}

#data-import .rounded {
  border-radius: 0.25rem
}

#data-import .rounded-t {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem
}

#data-import .border-0 {
  border-width: 0px
}

#data-import .border {
  border-width: 1px
}

#data-import .border-2 {
  border-width: 2px
}

#data-import .border-4 {
  border-width: 4px
}

#data-import .border-t-2 {
  border-top-width: 2px
}

#data-import .border-b-2 {
  border-bottom-width: 2px
}

#data-import .border-t-4 {
  border-top-width: 4px
}

#data-import .border-dashed {
  border-style: dashed
}

#data-import .border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

#data-import .border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

#data-import .bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

#data-import .bg-slate-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity))
}

#data-import .bg-transparent {
  background-color: transparent
}

#data-import .bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity))
}

#data-import .bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

#data-import .bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity))
}

#data-import .bg-opacity-20 {
  --tw-bg-opacity: 0.2
}

#data-import .p-0 {
  padding: 0px
}

#data-import .p-4 {
  padding: 16px
}

#data-import .p-8 {
  padding: 32px
}

#data-import .p-2 {
  padding: 8px
}

#data-import .p-1 {
  padding: 4px
}

#data-import .px-12 {
  padding-left: 48px;
  padding-right: 48px
}

#data-import .py-4 {
  padding-top: 16px;
  padding-bottom: 16px
}

#data-import .px-5 {
  padding-left: 20px;
  padding-right: 20px
}

#data-import .py-10 {
  padding-top: 40px;
  padding-bottom: 40px
}

#data-import .px-0 {
  padding-left: 0px;
  padding-right: 0px
}

#data-import .py-2 {
  padding-top: 8px;
  padding-bottom: 8px
}

#data-import .px-4 {
  padding-left: 16px;
  padding-right: 16px
}

#data-import .pt-12 {
  padding-top: 48px
}

#data-import .pl-0 {
  padding-left: 0px
}

#data-import .text-center {
  text-align: center
}

#data-import .text-2xl {
  font-size: 24px
}

#data-import .text-base {
  font-size: 16px
}

#data-import .text-sm {
  font-size: 14px
}

#data-import .text-xs {
  font-size: 12px
}

#data-import .text-xl {
  font-size: 20px
}

#data-import .font-semibold {
  font-weight: 600
}

#data-import .font-medium {
  font-weight: 500
}

#data-import .font-bold {
  font-weight: 700
}

#data-import .uppercase {
  text-transform: uppercase
}

#data-import .leading-5 {
  line-height: 1.25rem
}

#data-import .text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

#data-import .text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

#data-import .text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity))
}

#data-import .text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

#data-import .text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

#data-import .text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

#data-import .opacity-25 {
  opacity: 0.25
}

#data-import .opacity-75 {
  opacity: 0.75
}

#data-import .shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

#data-import .shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

#data-import .shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

#data-import .outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px
}

#data-import .ease-linear {
  transition-timing-function: linear
}

#data-import .hover\:underline:hover {
  text-decoration: underline
}

#data-import .focus\:border-indigo-500:focus {
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity))
}

#data-import .focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

#data-import .focus\:ring-indigo-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity))
}

