/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#wrapper {
  width: 600px;
  min-height: 300px;
}

#left {
  float: left;
  width: 250px;
  overflow: hidden;
}

#right {
  width: 350px;
  overflow: hidden;
}
